*
!*/
!.gitignore
!Desktop.ini
!FolderMarker.ico
!firefox/tmemutil.ini
!/Profiles/myUse/_pentadactylrc
!/Profiles/default.lnk
!/Profiles/myUse.lnk
!/Profiles/ProfileManager.lnk
!/Profiles/webDev.lnk
!/Profiles/myUse/search.json
!/Profiles/myUse/search-metadata.json
!/Profiles/myUse/stylish.sqlite
!/Profiles/myUse/searchplugins/*
!/Profiles/myUse/other/*
!/Profiles/myUse/other/*/*
!/Profiles/myUse/gm_scripts/*
!/Profiles/myUse/gm_scripts/*/*
!/Profiles/myUse/chrome/*
!/Profiles/myUse/chrome/*/*
!/Profiles/myUse/chrome/*/*/*
